@model CreateCarViewModel

<h1>Create a Car</h1>
<div asp-validation-summary="ValidationSummary.All"></div>

<form asp-controller="Cars" asp-action="Create">
    <label asp-for="Brand"></label>
    <br />
    <input asp-for="Brand" placeholder="Brand" />
    <br /> 
    <span asp-validation-for="Brand"></span>
    <br />


    <label asp-for="Doors"></label>
    <br />
    <input asp-for="Doors" placeholder="Doors" />
    <br />
    <span asp-validation-for="Doors"></span>
    <br />


    <label asp-for="TopSpeed"></label>
    <br />
    <input asp-for="TopSpeed" placeholder="Top speed" />
    <br />
    <span asp-validation-for="TopSpeed"></span>
    <br />


    <input asp-for="AcceptTerms" type="checkbox" />
    <label asp-for="AcceptTerms"></label>
    <span asp-validation-for="AcceptTerms" />
    <br /><br />
    <input type="submit" value="Create" />
</form>
