<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body style="background-image:url(http://freephotos.atguru.in/hdphotos/disney-cars-wallpapers/cars-2-wallpaper-tokio-drift-walt-disney-pixar-animated-film-racing-sport-owen-wilson.jpg)">
    <h1 style="background-color:black; color:whitesmoke;">CARS CARS CARS</h1>
    <div id="wrapper" style="display:inline">
        <a href="/cars/index">Home</a>
        <a href="/cars/create">Create</a>
    </div>
    <div id="Wrapper" style="background-color:#ff0038">
        @RenderBody()
    </div>
    <p style="background-color:black; color:whitesmoke;">This is a footer</p>

    <script src="~/Script/jquery.min.js"></script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>